#header {
	display: flex;
	align-items: center;
	background-color: var(--main-background-color);
	padding: 0px 26px;
	height: var(--header-height);
	border-bottom: 2px solid var(--light-blue-color);

	#header-content-desktop {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;

		nav {
			height: 100%;
	
			ul {
				display: flex;
				align-items: center;
				font-size: var(--header-item-font-size);
				font-weight: var(--header-item-font-weight);
				height: 100%;
	
				li {
					height: 100%;
					display: flex;
					border-bottom: 2px solid transparent;
					align-items: center;
					cursor: pointer;
					padding-inline: 30px;
	
					&:hover {
						border-bottom: 2px solid var(--muted-color);
					}
				}
			}
		}
	}

	#header-content-mobile {
		display: flex;
		flex-direction: column;

		nav {
			height: 100%;
	
			ul {
				font-size: var(--header-item-font-size);
				font-weight: var(--header-item-font-weight);
				height: 100%;
	
				li {
					height: 100%;
					display: flex;
					border-bottom: 2px solid var(--light-blue-color);
					align-items: center;
					cursor: pointer;
					padding: 15px;
				}
			}
		}

		.header-cta {
			display: flex;
			flex-direction: column;
			align-items: start;
			padding: 10px;
		}
	}

	.navigation-mobile {
		display: flex;
		flex-direction: column;
	}

	@media screen and (max-width: 1600px) {
		justify-content: space-between;
		#header-content-desktop {
			display: none;
		}
	}

	#logo {
		padding: var(--header-logo-padding);
		cursor: pointer;
		border-right: var(--header-logo-border);

		&:hover {
			filter: drop-shadow(0 0 5px var(--text-color));
		}
	}

	.header-icon {
		height: var(--header-icon-chevron-size);
	}

	.header-cta {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 8px;
		height: 100%;

		.header-signin {
			height: var(--header-icon-signin-size);
			fill: currentColor;
			stroke: none;
			color: var(--base-color);
		}

		.header-cart {
			height: var(--header-icon-cart-size);
		}
	}
}
