#header {
	display: flex;
	align-items: center;
	background-color: var(--main-background-color);
	padding: 0px 26px;
	height: var(--header-height);
	border-bottom: 2px solid var(--light-blue-color);

	#logo {
		padding: 0 32px;
		cursor: pointer;
		border-right: 1px solid var(--text-color);

		&:hover {
			filter: drop-shadow(0 0 5px var(--text-color));
		}
	}

	nav {
		height: 100%;

		ul {
			display: flex;
			align-items: center;
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: var(--header-item-font-size);
			font-weight: var(--header-item-font-weight);
			height: 100%;

			li {
				height: 100%;
				display: flex;
				border-bottom: 2px solid transparent;
				align-items: center;
				cursor: pointer;
				padding-inline: 30px;

				&:hover {
					border-bottom: 2px solid var(--muted-color);
				}
			}
		}
	}

	.header-icon {
		height: var(--header-icon-chevron-size);
	}

	.header-cta {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		gap: 8px;
		height: 100%;		

		.header-signin {
			height: var(--header-icon-signin-size);
			fill: currentColor;
			stroke: none;
			color: var(--base-color);
		}

		.header-cart {
			height: var(--header-icon-cart-size);
		}
	}
}
